/* ------------------------------
        PLAYER CSS
---------------------------------- */
body {
  font-family: "Circular";
}

#player-container p:first-of-type {
  font-size: 0.8rem;
}
#player-container p:last-of-type {
  font-size: 0.7rem;
}
.player-img-container {
  height: 3.7rem;
  width: 3.7rem;
  overflow: hidden;
}

.player-img-container img {
  width: 100%;
  height: 100%;
}

.audio-track {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background-color: #dddddd;
}

.time {
  width: 0;
  height: 3px;
  background-color: #474747;
}

.activeColor {
  color: green;
}
.range {
  height: 0.2rem;
  font-size: 300;
}
