/* ------------------------------
        PLAYER CSS
---------------------------------- */

.player-img-container {
  height: 3.7rem;
  width: 3.7rem;
  overflow: hidden;
}

.player-img-container img {
  width: 100%;
  height: 100%;
}

.audio-track {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background-color: #dddddd;
}

.time {
  width: 0;
  height: 3px;
  background-color: #474747;
}

.active {
  color: green;
}
